mike<=2.1.4
mkdocs-awesome-pages-plugin
mkdocs-git-authors-plugin>=0.6.5
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mkdocs-material>=9.5.3
mkdocs-redirects
mkdocs<=1.6.1
tzdata
